<div class="row">
  <div ng-include="'partials/ebook.nav.html'"></div>

  <div class="col-sm-10 row" ng-show="showAddTopClassifyBtn && showAddClassifyBtn">

    <button class="btn btn-default" ng-click="showAddTopClassifyForm()">添加一级分类</button>
    <button class="btn btn-default" ng-click="showAddClassifyForm()">添加二级分类</button>
  </div>

  <div class="col-sm-10" ng-hide="showAddTopClassifyBtn">
    <h2>添加一级分类</h2>
    <form class="form-horizontal" role="form" name="topClassifyForm">
      <span class="help-block">*标记的必须填写</span>
      <div class="form-group">
        <label class="control-label col-sm-2">分类名*</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="topClassify.title" required />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">语言*</label>
        <div class="col-sm-2">
          <select class="form-control" ng-model="topClassify.lang" ng-options="lang.title for lang in item_lang" required>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">描述</label>
        <div class="col-sm-2">
          <textarea class="form-control" ng-model="topClassify.desc" row="1"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button type="button" class="btn btn-success" ng-click="addTopClassify(topClassify.title, topClassify.lang, topClassify.desc)" ng-disabled="!topClassifyForm.$valid">添加</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-10" ng-hide="showAddClassifyBtn">
    <h2>添加二级分类</h2>
    <form class="form-horizontal" role="form" name="classifyForm">
      <span class="help-block">*标记的必须填写</span>
      <div class="form-group">
        <label class="control-label col-sm-2">分类名</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" ng-model="classify.title" required />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">lang</label>
        <div class="col-sm-2">
          <select class="form-control" ng-model="classify.lang" ng-options=" lang.title for lang in item_lang " required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">上级分类</label>
        <div class="col-sm-2">
          <select class="form-control" ng-model="classify.top_classify" ng-options=" tc.title for tc in top_classifys | filter: {lang:classify.lang.id} " required >
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">简介</label>
        <div class="col-sm-2">
          <textarea class="form-control" ng-model="classify.desc" row="1"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
          <button type="button" class="btn btn-success" ng-click="addClassify(classify.title, classify.top_classify, classify.desc)" ng-disabled="!classifyForm.$valid">添加</button>
        </div>
      </div>
    </form>
  </div>
</div>
 
