<div class="row">
  <div class="col-sm-2 col-md-2 sidebar">
    <a ui-sref="ebook.create"><button type="button" class="btn btn-primary" >添加新书</button></a>
    <div class="row block-content">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default">已上架电子书</button>
        <button type="button" class="btn btn-default">未上架电子书</button>
        <button type="button" class="btn btn-default">所有电子书</button>
      </div>
    </div>
    <ul class="nav nav-sidebar">
      <li>
        <a ui-sref="ebook.classify">分类管理</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-10 col-md-10" id="page-wrapper">
    <div ui-view="">
    </div>
  </div>
</div>
