body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.row {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

.block-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.select2-container-multi .select2-choices {
    margin:0 15px;
    width: 700px;
}

#status-buttons a {
    color:#FFF;
    display:inline-block;
    font-size:12px;
    margin-right:10px;
    text-align:center;
    text-transform:uppercase;
}
#status-buttons a:hover {
    text-decoration:none;
}
 
/* we will style the span as the circled number */
#status-buttons span {
    background:#080808;
    display:block;
    height:30px;
    margin:0 auto 10px;
    padding-top:5px;
    width:100px;
    border-radius:50%;
}
 
/* active buttons turn light green-blue*/
#status-buttons a.active span {
    background:#00BC8C;
}